body {
  background-color: beige;
  font-family: Geneva, Tahoma, sans-serif;
  color: #333;
  text-align: center;
}

input {
  font-size: x-large;
  padding-left: 19px;
}

.wrapper {
  text-align: center;
  padding: 80px;
}

.results {
  text-align: left;
  padding-left: 250px;
  padding-top: 39px;
  font-family: "Macondo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
}

.no-results {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: large;
  padding-top: 39px;
  color: red;
}

.traits h2 {
  padding-left: 39px;
}
