body {
  background-color: beige;
  font-family: Geneva, Tahoma, sans-serif;
  color: #333;
  text-align: center;
  font-size: x-large;
}

input {
  font-size: x-large;
  padding-left: 19px;
}

.search {
  padding: 80px;
}

.wrapper {
  text-align: center;
  padding: 40px;
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.results {
  text-align: left;
  padding-left: 200px;
  padding-top: 39px;
  font-family: "Macondo Swash Caps", cursive;
  font-weight: 400;
  font-style: normal;
  flex-grow: 2;
}

.art {
  display: flex;
  width: 500%;
  max-width: 30vw;
  height: auto;
  flex-grow: 1;
  padding-top: 79px;
}

.art img {
  height: 800px;
}

.no-results {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 20;
  font-style: normal;
  font-size: x-large;
  padding-top: 99px;
  color: red;
}

.traits {
  padding-left: 39px;
}

@keyframes slide {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateY(0%);
  }
}

.animated {
  animation: slide 250ms cubic-bezier(0.15, 0.75, 0.25, 1.05);
}
